@model UST_Careers.WebUI.Models.JobOfferViewModel

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit", "JobOffer"))
{
    @Html.HiddenFor(model => model.JobOffer.id)
    @Html.HiddenFor(model => model.JobOffer.hash)
    @Html.HiddenFor(model => model.JobOffer.publish_date)
    <div class="form-group">
        <label>Title</label>
        @Html.TextBoxFor(m => m.JobOffer.title, new { @class = "form-control", @placeholder = "Enter title" })
        @Html.ValidationMessageFor(model => model.JobOffer.title, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label>Description</label>
        @Html.TextAreaFor(m => m.JobOffer.description, new { @class = "form-control", @placeholder = "Enter description", @rows = 10 })
        @Html.ValidationMessageFor(model => model.JobOffer.description, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label>Category</label>
        @Html.DropDownListFor(model => model.JobOffer.category_id, Model.CategorySelectListItems, "--Select--")
        @Html.ValidationMessageFor(model => model.JobOffer.category_id, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label>Location</label>
        @Html.DropDownListFor(model => model.JobOffer.location_id, Model.LocationSelectListItems, "--Select--")
        @Html.ValidationMessageFor(model => model.JobOffer.location_id, "", new { @class = "text-danger" })
    </div>
    <input type="submit" value="Save" class="btn btn-primary" />
    <a href="@Url.Action("Index", "JobOffer")" class="btn btn-primary">Back</a>
}