@using UST_Careers.Domain.Entities
@model IEnumerable<JobOffer>
@{
    ViewBag.Title = "Index";
}

<h2>Job offer list</h2>
<p>
    <a href="@Url.Action("Create", "JobOffer")" class="btn btn-primary">Add</a>
</p>
<div class="bs-example" data-example-id="striped-table">
    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Publish date</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
        @foreach (var jobOffer in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modeljobOffer => jobOffer.title)</td>
                <td>@Html.DisplayFor(modeljobOffer => jobOffer.description)</td>
                <td>@Html.DisplayFor(modeljobOffer => jobOffer.publish_date)</td>
                <td>@Html.DisplayFor(modeljobOffer => jobOffer.categories.name)</td>
                <td>
                    <a href="@Url.Action("Edit", "JobOffer", new { jobOfferId = jobOffer.id })" class="btn btn-warning">Edit</a>
                    <a href="@Url.Action("Delete", "JobOffer", new { jobOfferId = jobOffer.id })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>
